@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
	--font-body: 'IBM Plex Serif', serif;
	--color-bg-1: #ffffff;
	--color-theme-1: #9092a9;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 1);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
	font-size: 14px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-text);
	transition-property: text-shadow;
	transition-duration: 0.2s;
	text-decoration: none;
	transition: 0.25s linear 0s;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

a:hover {
	text-decoration: none;
	text-shadow: -1px 0px 1px rgba(113, 255, 4, 1);
}

@keyframes hover-over {
	from {
		text-shadow: -1px 1px 4px rgba(113, 255, 4, 1);
	}

	to {
		text-shadow: -1px 1px 4px rgba(113, 255, 4, 1);
	}
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}
